
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title>设计变更</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/datetimepicker.css" rel="stylesheet" media="screen">
  <link href="css/tankuang.css" rel="stylesheet" media="screen">

  </head>
<body>

    <script type="text/javascript" src="jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- Button trigger modal -->
<a  data-toggle="modal" data-target="#myModal">
  设计变更
</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="mymodal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">设计变更</h4>
      </div>
      <div class="modal-body">
	  <form name="test" class="navbar-form navbar-center">
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
             <div class="title">
                <label class="item-title">
                变更内容：
                </label>
			  </div>
			   <div class="title">
                <label class="item-title">
                设计图地址：
                </label>
			  </div>
    </div>
    <div class="span9">
     
       <div> <input type="text" class="form-control inputfield" style="width:300px; background-color: #FFFFFF; vertical-align: middle; margin-top: 8px;" > 
       </div>
	   <div> <input type="text" class="form-control inputfield" style="width:300px; background-color: #FFFFFF; vertical-align: middle; margin-top: 10px;" > 
	   </div>

       
    </div>
  </div>
</div>
	  </form>
	  </div>
      <div class="modal-footer">
        <div align="center">
          <button type="button" class="btn mybtn-success" data-dismiss="modal">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

</body>
</html>
