<!DOCTYPE html>
<head>
	<title>项目详情</title>
	<link rel=stylesheet type="text/css" href="detail.css" />
	<META http-equiv="content-type" content="text/html; charset=utf-8">
	<script type="text/javascript" src="detail.js"></script> 
</head>
<body>
	<div id="container">
		<div>
			<div id="head"></div>
			<div id="bread">
				<p><a href="">项目管理</a>&nbsp>>项目详情</p>
			</div>
			<div class="content">
				<div id="name">
					<div><h3>V6.0机构页面改版</h3></div>
					<div><a href="">&nbsp&nbsp&nbsp编辑</a></div>
				</div>
				<div class="list-name">
					<ul class="line-name">
						<li><p>优先级:</p></li>
						<li><p>项目状态:</p></li>
						<li><p>项目负责人:</p></li>
						<li><p>项目开始日期:</p></li>
						<li><p>预估时间:</p></li>
						<li><p><br/></p></li>
						<li><p><br/></p></li>
						<li><p>产品人员:</p></li>
						<li><p>开发人员:</p></li>
						<li><p>测试人员:</p></li>
						<li><p>设计图:</p></li>
						<li><p>开发计划:</p></li>
						<li><p>测试计划:</p></li>
						<li><p>测试用例:</p></li>
						<li><p>测试报告:</p></li>
					</ul>
				</div>
				<div class="list-text">
					<ul class="line-text">
						<li><p>500</p></li>
						<li><p>开发中</p></li>
						<li><p>菅鹏</p></li>
						<li>
							<span>2013-9-13</span>
							<span class="line-name2">计划上线时间:</span>
							<span class="line-text2">2013-10-15</span>
						</li>
						<li><p>产品:5天(2013-8-1至2013-9-12)</p></li>
						<li><p>开发: 5天(2013-9-16至2013-9-30)</p></li>
						<li><p>测试: 5天(2013-10-7至2013-10-30)</p></li>
						<li><p>赵希,萌丹</p></li>
						<li><p>菅鹏,宋非文,谭振,李小龙</p></li>
						<li><p>易璐璐,刘红蛟,李稳,孙敏</p></li>
						<li><p>W:\Testing\Q项目管理系统\设计图</p></li>
						<li><p>W:\Testing\Q项目管理系统\设计图</p></li>
						<li><p>W:\Testing\Q项目管理系统\设计图</p></li>
						<li><p>W:\Testing\Q项目管理系统\设计图</p></li>
						<li><p>W:\Testing\Q项目管理系统\设计图</p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>